.custome-bg {
    position: absolute; /* Ensures proper positioning */
    width: 80px; /* Adjust size as needed */
    height: 60px;
    background: linear-gradient(90deg, rgba(140, 124, 219, 0.8) 0%, rgba(127, 54, 235, 0.8) 91%);
    filter: blur(15px);
    border-radius: 50%; /* Makes it circular */
    opacity: 0.7; /* Softens the look */
    z-index: -1;
    /* mix-blend-mode: screen;  */
    /* pointer-events: none;  */
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
 @media (min-width: 1024px) {
  .animate-scroll {
    animation: scroll 45s linear infinite;
  }
 }

  @keyframes scroll-logo {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-500%);
    }
  }
  .animate-scroll-logo{
    animation: scroll-logo 7s linear infinite;
  }
  
 
  